:root{
/*颜色*/
  /*品牌色*/
  --color-brand-main: #3888e8;
  /*功能色*/
  /*链接色*/
  --color-function-link: #0077ff;
  /*成功色*/
  --color-function-success: #27C777;
  /*提示色*/
  --color-function-tips: #FAC022;
  /*警示色*/
  --color-function-caution: #DC5C1C;
  /*单色*/
  /*单色蓝*/
  --color-solid-blue: #3888E8;
  /*单色青*/
  --color-solid-cyan: #22A2C2;
  /*单色绿*/
  --color-solid-green: #4CAA88;
  /*单色黄*/
  --color-solid-yellow: #CC9444;
  /*单色橙*/
  --color-solid-orange: #D3833C;
  /*单色红*/
  --color-solid-red: #CD6633;
  /*单色金*/
  --color-solid-gold: #BE9E6E;
  /*单色紫*/
  --color-solid-violet: #8855E5;
  /*渐变色*/
  /*渐变蓝*/
  --color-gradient-blue: linear-gradient(#77AEEF, #3888E8);
  /*渐变青*/
  --color-gradient-cyan: linear-gradient(#66C6D6, #22A2C2);
  /*渐变绿*/
  --color-gradient-green: linear-gradient(#8CCCB8, #4CAA88);
  /*渐变黄*/
  --color-gradient-yellow: linear-gradient(#DCB880, #CC9444);
  /*渐变橙*/
  --color-gradient-orange: linear-gradient(#DCA580, #D3833C);
  /*渐变红*/
  --color-gradient-red: linear-gradient(#EAA377, #CD6633);
  /*渐变金*/
  --color-gradient-gold: linear-gradient(#DCC99C, #BE9E6E);
  /*渐变紫*/
  --color-gradient-violet: linear-gradient(#B68FF8, #8855E5);
  /*灰色*/
  /*灰1*/
  --color-gray-1: #f7f8f9;
  /*灰2*/
  --color-gray-2: #e9ecf0;
  /*灰3*/
  --color-gray-3: #cbcfd6;
  /*灰4*/
  --color-gray-4: #959ba3;
  /*灰5*/
  --color-gray-5: #5c626b;
  /*灰6*/
  --color-gray-6: #262a30;
  /*变量值选择：黑（暗夜）/白（白昼），当切换模式时 color_black_n与color_white_n一一互换*/
  /*黑色：color_black_n*/
  /*黑1*/
  --color-black-1: rgba(0,0,0, 0.1);
  /*黑2*/
  --color-black-2: rgba(0,0,0, 0.2);
  /*黑3*/
  --color-black-3: rgba(0,0,0, 0.3);
  /*黑4*/
  --color-black-4: rgba(0,0,0, 0.4);
  /*黑5*/
  --color-black-5: rgba(0,0,0, 0.5);
  /*黑6*/
  --color-black-6: rgba(0,0,0, 0.6);
  /*黑7*/
  --color-black-7: rgba(0,0,0, 0.7);
  /*黑8*/
  --color-black-8: rgba(0,0,0, 0.8);
  /*黑9*/
  --color-black-9: rgba(0,0,0, 0.9);
  /*黑10*/
  --color-black-10: rgba(0,0,0, 1);
  /*白色：color_white_n*/
  /*白10*/
  --color-white-10: rgba(255,255,255, 0.1);
  /*白20*/
  --color-white-20: rgba(255,255,255, 0.2);
  /*白30*/
  --color-white-30: rgba(255,255,255, 0.3);
  /*白40*/
  --color-white-40: rgba(255,255,255, 0.4);
  /*白50*/
  --color-white-50: rgba(255,255,255, 0.5);
  /*白60*/
  --color-white-60: rgba(255,255,255, 0.6);
  /*白70*/
  --color-white-70: rgba(255,255,255, 0.7);
  /*白80*/
  --color-white-80: rgba(255,255,255, 0.8);
  /*白90*/
  --color-white-90: rgba(255,255,255, 0.9);
  /*白100*/
  --color-white-100: rgba(255,255,255, 1);
  /*线条*/
  /*实线：line_solid_n*/
  /*实线0_5*/
  --line-solid-0-5: 0.5px;
  /*实线1*/
  --line-solid-1: 1px;
  /*实线2*/
  --line-solid-2: 2px;
  /*虚线：line_dashed_n*/
  /*虚线0_5*/
  --line-dashed-0-5: 0.5px;
  /*虚线1*/
  --line-dashed-1: 1px;
  /*虚线2*/
  --line-dashed-2: 2px;
  /*圆角*/
  /*变量选项：对应的数值基数n，*/
  /*圆角基数*/
  --fillet: 1;
  /*按固定尺寸，用于卡片背景、弹窗背景、按钮等：*/
  /*圆角大*/
  --fillet-equivalent-big: 4;
  /*圆角中*/
  --fillet-equivalent-medium: 2;
  /*圆角小*/
  --fillet-equivalent-small: 1;
  /*圆角全*/
  /*fillet_equivalent_max=长/宽最大值*/
  /*按圆角比例，用于头像、应用icon等。*/
  /*例如n=4时，圆角比例为4/40=0_1，当头像为20*20时，圆角应为20*0_1=2*/
  /*圆角等比*/
  --fillet-ratio: 0.025;
  /*字重*/
  /*正常normal*/
  --font-weight-400: 400;
  /*加粗bold*/
  --font-weight-600: 600;
  /*加粗加重bolder*/
  --font-weight-800: 800;
  
}